<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="signup-form p-4 shadow-sm rounded">
        <h2 class="text-center mb-5">Join Us!</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name,
                        placeholder: "First Name",
                        input_html: { class: "form-input" } %>

            <%= f.input :last_name,
                        placeholder: "Last Name",
                        input_html: { class: "form-input" } %>

            <%= f.input :birth_date,
                        start_year: 1900,
                        end_year: Time.current.year,
                        placeholder: "Birth Date",
                        input_html: { class: "form-input" } %>

            <%= f.input :photo,
                        as: :file,
                        label: "Upload a profile picture",
                        input_html: { class: "form-file" } %>

            <%= f.input :email,
                        autofocus: true,
                        placeholder: "email@example.com",
                        input_html: { class: "form-input" } %>

            <%= f.input :password,
                        required: true,
                        placeholder: "Password",
                        input_html: { class: "form-input" } %>

            <%= f.input :password_confirmation,
                        required: true,
                        placeholder: "Confirm Password",
                        input_html: { class: "form-input" } %>

            <%= f.input :terms,
                        as: :boolean,
                        label: "I agree to activeTribe's Privacy Policy and Terms of Use" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class:"btn btn-primary" %>
          </div>
        <% end %>

        <!-- Sign In Link -->
        <div class="text-center mt-4">
          <p>Already have an account? <%= link_to "Log in", new_session_path(resource_name), class: "link-primary" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
