<div class="container my-5 px-4 pb-4">
  <div class="row">
    <div class="col">
      <h1>Booking requests</h1>
      <ul class="nav nav-tabs nav-fill" id="bookingRequestsTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="true">Pending</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="accepted-tab" data-bs-toggle="tab" data-bs-target="#accepted" type="button" role="tab" aria-controls="accepted" aria-selected="false">Accepted</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="declined-tab" data-bs-toggle="tab" data-bs-target="#declined" type="button" role="tab" aria-controls="declined" aria-selected="false">Declined</button>
        </li>
      </ul>

      <div class="tab-content" id="bookingRequestsTabContent">
        <div class="tab-pane fade show active mt-3" id="pending" role="tabpanel" aria-labelledby="pending-tab">
          <% if @pending_requests.any? %>
            <% @pending_requests.each do |request| %>
              <div class="card">
                <div class="card-body">
                  <%= request.user.first_name.capitalize%> has requested to join the <strong><%= request.activity.title.capitalize%></strong>
                  <div class="d-flex justify-content-between">
                    <%= link_to "Accept", accept_booking_path(request), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to accept this booking?" } %>
                    <%= link_to "Decline", decline_booking_path(request), data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to decline this booking?" } %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>No pending requests.</p>
          <% end %>
        </div>
        <div class="tab-pane fade mt-3" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
          <% if @accepted_requests.any? %>
            <% @accepted_requests.each do |request| %>
              <div class="card">
                <div class="card-body">
                  <%= request.user.first_name.capitalize%> has joined <strong><%= request.activity.title.capitalize%></strong>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>No pending requests.</p>
          <% end %>
        </div>
        <div class="tab-pane fade mt-3" id="declined" role="tabpanel" aria-labelledby="declined-tab">
          <% if @declined_requests.any? %>
            <% @declined_requests.each do |request| %>
              <div class="card">
                <div class="card-body">
                  <%= request.user.first_name.capitalize%> has been declined from <strong><%= request.activity.title.capitalize%></strong>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>No declined requests.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
