<div class="container mt-5 px-4">
  <div class="group-title" data-controller="toggle">
    <div class="d-flex justify-content-between">
      <div class=""><%= link_to '<i class="icon fa-solid fa-angle-left"></i>'.html_safe, :back %></div>
      <div class="d-flex">
        <h3 class="px-2"><%= @group.name.titleize %></h3>
        <% if policy(@group).owner? %>
          <i data-action="click->toggle#fire" class="fa-solid fa-caret-down pt-1"></i>
        <% end %>
      </div>
    </div>

    <div class="group-btns d-flex justify-content-end d-none" data-toggle-target="togglableElement">
      <% if policy(@group).owner? %>
        <div class="d-flex pt-2">
          <%= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, edit_group_path(@group), class: "btn-icon me-3" %>
          <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, @group, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this group?" }, class: "btn-icon" %>
        </div>
      <% elsif GroupUser.find_by(group: @group, user: current_user) %>
        <%= link_to '<i class="fa-solid fa-arrow-right-from-bracket"></i>'.html_safe, leave_group_path(@group), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to leave this group?" } %>
      <% end %>
    </div>
  </div>
</div>

<div class="my-3">
  <% if @group.photo.attached? %>
    <%= image_tag @group.photo, class: "group-banner-image" %>
  <% end %>
</div>

<div class="container px-4 pb-4 mb-5">
  <div class="row">
    <div class="col">

      <div class="group-description card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5>About us</h5>
            <p style="color: grey"><%= format_member(@group.members.count)%></p>
          </div>
          <p><%= @group.description %></p>
        </div>
      </div>

    <% if !(policy(@group).owner? || GroupUser.find_by(group: @group, user: current_user)) %>
      <%= button_to "Join us", join_group_path(@group), method: :post, class: "btn btn-secondary" %>
    <% end %>

    <!-- posts Section -->
    <div class="mt-5">
      <div data-controller="toggle">
        <div class="d-flex justify-content-between align-items-start">
          <h2 class="mt-1">Recent Posts</h2>
          <!-- post Form -->
          <% if policy(@group).post? %>
            <i data-action="click->toggle#fire" class="mt-2 fa-solid fa-plus"></i>
          <% end %>
        </div>

        <div class="mt-3">
          <div class="d-none my-3" data-toggle-target="togglableElement">
            <%= render "shared/input", input: [@group, @post], submit_text: "Post", rows: 5 %>
          </div>
        </div>
      </div>

      <% if @group_posts.any? %>
        <% @group_posts.each do |post| %>
          <div class="card mb-3">
            <div class="card-body post">
              <div class="d-flex justify-content-between">
                <p><strong><%= "#{post.user.first_name.capitalize} #{post.user.last_name.capitalize}"%></strong> · <%= time_ago_in_words(post.created_at) %> ago</p>
                <% if post.user == current_user %>
                  <%= link_to '<i class="fa-regular fa-trash-can post-delete"></i>'.html_safe, group_group_post_path(@group, post), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this comment?"} %>
                <% end %>
              </div>
              <div class="post-content">
                <%= link_to post.content, group_group_post_path(post.group, post)%>
              </div>
              <div class="post-comments text-end mb-3">
                <%= "#{post.group_comments.count} comments" %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No posts yet.</p>
      <% end %>
    </div>

    </div>
  </div>
</div>
