<footer class="footer text-center py-3">
  <div class="container">
    <p>
      <%= link_to "/" do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
      <%= link_to "/activities" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      <%= link_to "/activities/new" do %>
        <i class="fa-regular fa-square-plus"></i>
      <% end %>
      <%= link_to "/groups" do %>
        <i class="fa-solid fa-user-group"></i>
      <% end %>
      <%= link_to "/bookings" do %>
        <i class="fa-regular fa-calendar-check"></i>
      <% end %>
    </p>
  </div>
</footer>
