<div class="container" style="padding: 0;">

  <section class="mt-4" style="text-align: left; padding-left: 20px; padding-top: 30px;">
    <h1>Discover</h1>
  </section>

<div class="container" style="padding: 0;">
  <section class="map-section" style="height: 300px; margin-top: 30px;">
    <div id="map" style="width: 100%; height: 100%;"></div>
  </section>

  <section class="featured-activities py-2" style="padding: 0;">
    <h6 class="mt-4 mb-3 text-left text-gray fs-3 rounded-2" style="padding-left: 20px; font-size: 1rem">
      Upcoming events near me
    </h6>
  </section>

    <div class="container" style="padding: 0;">
      <div class="row justify-content-center g-2 mb-5">
        <% @activities.each do |activity| %>

          <div class="col-6">
            <%= link_to activity_path(activity), class: "card-link" do %>
            <div class="card shadow-sm border-0 activity-card bg-white" style="margin-bottom: 15px;">
              <% if activity.photo.attached? %>
                <%= image_tag activity.photo, class:"img-fluid", alt:"activity image", style:"height: 170px; object-fit: cover;" %>
              <% else %>
                <p>No photo available</p>
              <% end %>

              <div class="card-body d-flex flex-column">
                <h6 class="card-title text-dark" style="font-size: .8rem; margin-bottom: 0px; margin-top: 3px;"><%= activity.title %></h6>
                <p class="card-text" style="font-size: 0.6rem; color: grey; margin-bottom: 8px;">
                  <span class="date"><%= activity.start.strftime("%d %b") %> <br> </span>
                  <span class="location"><%= activity.location %></span>
                </p>
            <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>

<script>

 mapboxgl.accessToken = 'pk.eyJ1IjoibnJvbWFzYW50YSIsImEiOiJjbTE5MjYzNjcxMDdjMmptenN2M2F3ZzZnIn0.2iI2J6g6qNHHZ4gKxZFaqw';

var fallbackLongitude = -37.8136;
var fallbackLatitude = 144.9631;

function initializeMap(longitude, latitude) {
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [longitude, latitude],
    zoom: 13
  });

  new mapboxgl.Marker()
    .setLngLat([longitude, latitude])
    .setPopup(new mapboxgl.Popup({ offset: 25 })
        .setHTML("<div class='your-location-popup'><b>I'm Here!</b></div>"))
    .addTo(map);

   <% @activities.each do |activity| %>
  <% if activity.latitude.present? && activity.longitude.present? %>

    var marker = new mapboxgl.Marker()
      .setLngLat([<%= activity.longitude %>, <%= activity.latitude %>])
      .addTo(map);

    var popupContent = "<div class='popup-content'>" +
                   "<b class='popup-title'>" + "<%= activity.title %>" + "</b>" +
                   "<br><span class='popup-location'>" + "<%= activity.location %>" + "</span>" +
                   "<br><span class='popup-date'>" + "<%= activity.start.strftime('%d %b %Y') %>" + "</span>" +
                   "<br><a href='<%= activity_path(activity) %>' class='btn-view-details'> Join Now </a>" +
                   "</div>";

    var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(popupContent);
    marker.setPopup(popup);

  <% end %>
<% end %>
}

function onGeolocationSuccess(position) {
  var userLongitude = position.coords.longitude;
  var userLatitude = position.coords.latitude;

  initializeMap(userLongitude, userLatitude);
}

function onGeolocationError() {
  console.log("Geolocation access denied or failed. Using fallback location.");
  initializeMap(fallbackLongitude, fallbackLatitude);
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(onGeolocationSuccess, onGeolocationError);
} else {
  console.log("Geolocation is not supported by this browser. Using fallback location.");
  initializeMap(fallbackLongitude, fallbackLatitude);
}

</script>
