<%= simple_form_for (@activity) do |f| %>
  <div class="activity-form-box p-3 mt-5 mb-3 mx-3">
    <h3>Event overview</h3>
    <%= f.input :title,
                label: "Title",
                placeholder: "Enter title" %>
    <%= f.input :category,
                label: "Activity type",
                collection: [
                'American Rules Football',
                'Archery',
                'Australian Rules Football',
                'Badminton (Doubles)',
                'Bandy',
                'Baseball',
                'Basketball',
                'Beach Volleyball',
                'BMX Racing',
                'Bodyboard',
                'Bodybuilding',
                'Bouldering',
                'Boxing (Fitness/Training)',
                'Brazilian Jiu-Jitsu (BJJ)',
                'Capoeira',
                'Camping',
                'Canoe Polo',
                'Canoeing',
                'Cliff Diving (Cliff Jumping)',
                'Caving (Spelunking)',
                'Cricket',
                'CrossFit',
                'Cycle Cross',
                'Cycling (Road)',
                'Dance Fitness (Dance Aerobics)',
                'Diving (Scuba Diving)',
                'Fencing',
                'Field Hockey',
                'Fishing',
                'Fitness Bootcamp',
                'Floorball',
                'Frisbee Golf',
                'Football (Soccer)',
                'Futsal',
                'Gaelic Football',
                'Golf',
                'Handball',
                'HIIT',
                'Hiking',
                'Ice Hockey',
                'Ice Skating',
                'Jet Skiing',
                'Judo',
                'Karate',
                'Kettlebell Training',
                'Kickboxing',
                'Kung Fu',
                'Krav Maga',
                'Knee Boarding',
                'Lacrosse',
                'Marathon Running',
                'Mixed Martial Arts (MMA)',
                'Mountain Biking',
                'Muay Thai',
                'Mountaineering',
                'Netball',
                'Obstacle Course Racing',
                'Pilates',
                'Powerlifting',
                'Rafting',
                'Resistance Training (Strength Training)',
                'Rock Climbing',
                'Rowing',
                'Running (Trail)',
                'Sailing',
                'Savate',
                'Shootfighting',
                'Skydiving',
                'Snowboarding',
                'Sledding',
                'Snorkeling',
                'Snowshoeing',
                'Sport Fishing',
                'Stand-Up Paddleboarding (SUP)',
                'Stargazing',
                'Surf Skating',
                'Surfing',
                'Synchronized Swimming',
                'Taekwondo',
                'Team Workout',
                'Tennis',
                'Tchoukball',
                'Trail Running',
                'Tabata Training',
                'Touch Rugby',
                'Triathlon',
                'Wake Surfing',
                'Wakeboarding',
                'Water Polo',
                'Weightlifting',
                'Wing Chun',
                'Wrestling',
                'Zumba',
                'Zip Lining',
                'Windsurfing',
                'Bungee Jumping',],
                prompt: "Select an activity", input_html: { class: "select2", id: "activity_category" } %>
    <%= f.input :level,
                label: "Activity level",
                placeholder: "Enter type" %>
    <%= f.input :description,
                placeholder: "Description" %>
    <%= f.input :price %>
    <%= f.input :capacity, step: "10" %>
  </div>

  <div class="activity-form-box p-3 mx-3">
    <%= f.input :start,
                label: "Date and time" %>
    <%= f.input :duration,
                label: "Duration (minutes)",
                placeholder: "Enter duration" %>
    <%= f.input :location,
                placeholder: "Enter location" %>
  </div>

  <div class="activity-form-box mx-3 p-3 my-3">
    <%= f.input :photo, as: :file, label: "Upload a Photo" %>
  </div>

  <%= f.button :submit, class: "btn btn-dark w-100 mb-5" %>
<% end %>
