<div class="container my-4">
  <div class="row">
    <h1>All Available Activities</h1>
    <div class="col">
      <% @activities.each do |activity| %>
        <h2><%= activity.title %></h2>
        <ul>
          <li><%= activity.description %></li>
          <li><%= activity.location %></li>
          <%# <li><%= "#{activity.start.mday} #{Date::MONTHNAMES[activity.start.mon]} #{activity.start.year} at #{activity.start.to_fs(:time)}" %>
          <li><%= activity.start.strftime("%A, %d %b %Y %l:%M %p") %></li>
          <li>$<%= activity.price %></li>
          <li><%= format_duration(activity.duration) %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
