<div class="container mt-4 my-5 px-4">
  <!-- Activity Title -->
  <h1 class="text-center mb-3"><%= @activity.title %></h1>

  <div class="row justify-content-center">
    <!-- Left Column: Activity Details -->
    <div class="col-12 col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <!-- Organizer Info -->
          <p class="card-text"><strong>Organized by:</strong> <%= @activity.user.first_name %></p>

          <!-- Description -->
          <h5 class="card-text">Description</h5>
          <p class="card-text"><%= @activity.description %></p>

          <hr>

          <!-- Activity Details -->
          <ul class="list-unstyled">
            <li><strong>Date & Time:</strong> <%= @activity.start.strftime("%A, %d %b %Y %l:%M %p") %></li>
            <li><strong>Duration:</strong> <%= format_duration(@activity.duration) %></li>
            <li><strong>Price:</strong> $<%= @activity.price %></li>
          </ul>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="mt-4 d-flex justify-content-between">
        <!-- Back to Activities Button -->
        <%= link_to "Back to Activities", activities_path, class: "btn btn-secondary me-2" %>

        <!-- Edit Activity Button (Only visible to the creator) -->
        <div>
          <%# should really be - if policy(@booking).create? %>
          <% if policy(@activity).edit? %>
            <div class="d-flex pt-2">
              <%= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, edit_activity_path(@activity), class: "px-3" %>
              <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, @activity, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this activity?" } %>
            </div>
          <% else %>
            <%= button_to "Book Now", activity_bookings_path(@activity), method: :post, class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
