<div class="container mt-5 my-5 px-4 mb-5">
  <h1 class="text-center mb-3"><%= @activity.title %></h1>
  <div class="row justify-content-center">
    <% if @activity.photo.attached? %>
      <%= image_tag @activity.photo, class: "w-50" %>
    <% else %>
      <p>No photo available</p>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <p class="card-text"><strong>Organized by:</strong> <%= @activity.user.first_name %></p>
          <h5 class="card-text">Description</h5>
          <p class="card-text"><%= @activity.description %></p>

          <hr>

          <ul class="list-unstyled">
            <li><strong>Date & Time:</strong> <%= @activity.start.strftime("%A, %d %b %Y %l:%M %p") %></li>
            <li><strong>Duration:</strong> <%= format_duration(@activity.duration) %></li>
            <li><strong>Price:</strong> $<%= @activity.price %></li>
          </ul>
        </div>
      </div>
      <div class="mt-4 d-flex justify-content-between">
        <%= link_to "Back to Activities", activities_path, class: "btn btn-secondary me-2" %>
        <div>
          <% if current_user != @activity.user %>
            <%= button_to "Book Now", activity_bookings_path(@activity), method: :post, class: "btn btn-success" %>
          <% else %>
            <div class="d-flex pt-2">
              <%= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, edit_activity_path(@activity), class: "px-3" %>
              <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, @activity, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this activity?" } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
